<!-- <router-outlet></router-outlet> -->
<h1>
  {{title}}
</h1>
  
<div *ngIf="formLogin.valid" class="mt-5 text-center"><h3 style="color: rgb(0, 184, 0);">Valido</h3></div>
<div *ngIf="formLogin.invalid" class="mt-5 text-center"><h3 style="color: rgb(245, 0, 0);">Invalido</h3></div>
<div class="mt-4 mx-auto bg-body-tertiary border rounded-4" style="width: 300px;">
  <div class="p-4">
    <h1 class="text-center">Login</h1>
    <form [formGroup]="formLogin">
      <div class="mb-4">
        <div class="mb-2">
          <label for="" class="">Username</label>
        </div>
        <div>
          <input type="text" class="form-control" formControlName="username" placeholder="Username">
        </div>
      </div>
      <div class="mb-4">
        <div class="mb-2">
          <label for="" class="">Password</label>
        </div>
        <div>
          <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
        </div>
      </div>
      <div class="text-center d-grid">
        <button class="btn btn-primary" [disabled]="formLogin.invalid" (click)="onSubmit()">Log In</button>
      </div>
    </form>
    <div *ngIf="enviado" class="text-center mt-4"><h4 style="color: rgb(0, 184, 0);"><i class="bi bi-check2-square"></i> Enviado</h4></div>
  </div>
</div>

<div class="mx-auto text-center text-white mt-4 bg-black rounded-3 p-3" style="width: 300px;">
  {{formLogin.value|json}}
</div>